page-app-info {
}

.BackColor
{
    background-color: rgb(136, 238, 219);
}
.iconHtml
{
    font-size: 65px;
    color: red;
}

.iconIonic
{
    font-size: 65px;
    background-color: rgb(76, 141, 202);
}

.iconCss
{
    font-size: 65px;
    color: grey;
}

.iconGithub
{
    font-size: 40px;
    color: black;  
}

.iconJavaS
{
    font-size: 65px;
    color: yellow;
}

.nodeJs
{
    font-size: 65px;
    color: greenyellow;  
}

.githubName
{
    font-size: 25px;
}

.devDetails
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
}