page-home {

}

.Homepage //Backround colour
{
   background-color: rgb(255, 231, 188);
    
}

.loginBox //Login colour
{
    background-color: rgba(252, 250, 248, 0.555);
    font-family: sans-serif;
    
}

.or{
text-align: center;
}

.butt{
    background-color: rgba(0, 183, 255, 0.603);
    opacity: 1;
    transition: 2s linear !important ;
}


.titleF{
    opacity: 1;
    transition: 2s linear !important ;
}